/*@font-face {
    font-family: 'light';
    src: url('fonts/HelveticaLt.ttf') format('truetype');
}*/

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
  }

  @font-face {
      font-family: 'Montserrat-Bold';
      src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat-Light';
        src: url('fonts/Montserrat-Light.ttf') format('truetype');
      }

      @font-face {
          font-family: 'Lato-Regular';
          src: url('fonts/Lato-Regular.ttf') format('truetype');
        }

    @font-face {
        font-family: 'Karma';
        src: url('fonts/Karma-Regular.ttf') format('truetype');
      }

  .option {
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 4s;
      animation-duration: 2s;
      animation-delay: 4s;
  }

$cinza-claro: #f9f9f9;
$cinza-escuro: #444;
$roxo-claro: #442c55;
$roxo-escuro: #251d40;
$roxo: #503a6d;
$verde: #0bb89a;

@mixin degrade(){
  background: #251d40;
  background: -moz-linear-gradient(45deg,  #251d40 2%, #bf1c19 79%, #442c55 79%, #442c55 100%);
  background: -webkit-linear-gradient(45deg,  #251d40 2%, #442c55 79%,#442c55 79%,#442c55 100%);
  background: linear-gradient(45deg,  #251d40 2%,#442c55 79%,#442c55 79%,#442c55 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#251d40', endColorstr='#442c55',GradientType=1 );
}


@mixin float(){
   float: left;
   -webkit-animation-name: Floatingx;
   -webkit-animation-duration: 5s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
   -moz-animation-name: Floating;
   -moz-animation-duration: 5s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: ease-in-out;

}

@mixin margens-laterais($tamanho) {
  margin-left: $tamanho;
  margin-right: $tamanho;
}

@-webkit-keyframes neon5 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-webkit-keyframes neon6 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@-webkit-keyframes Floatingx{
       from {-webkit-transform:translate(0, 0px);}
       65% {-webkit-transform:translate(0, 7px);}
       to {-webkit-transform: translate(0, -0px);    }
   }

   @-moz-keyframes Floating{
       from {-moz-transform:translate(0, 0px);}
       65% {-moz-transform:translate(0, 7px);}
       to {-moz-transform: translate(0, -0px);}
   }

body{
  @include degrade();
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

// body::-webkit-scrollbar {
//   display: none;
// }
// body::scrollbar {
//   display: none;
// }

.branco{
  color: white;
}

.texto-centro{
  text-align: center;
}

.txt-right{
  text-align: right;
}

.typed-cursor{display: none}

.container-fluid{
    padding: 0;
}


#sec-1 {
  height: 100vh;
    // display: -webkit-flex;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    overflow: hidden;

    background: #f7f8fa;

    .container{
      // @include margens-laterais(90px);

        .info{
          padding-top: 50px;

          #logo-principal{
            width: 150px;
          }
        }
        h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            font-weight: bold;
            color: $roxo;
        }

        .chamada{
          font-family: 'Montserrat-Light';

          font-size: 38px;
          font-weight: 400;
          color: #3d3d3d;
          padding-bottom: 20px;
        }

        @media screen and (min-width: 701px) and (max-width: 1199px){
          .chamada{
            font-size: 32px;
            margin-bottom: 0;
          }
        }
        @media screen and (max-device-width: 700px) {
          .info{
            padding-top: 0;
          }
          h1{
            margin-top: 8px;
            margin-bottom: 0;
            line-height: 36px;
            padding-bottom: 10px;
          }
          .chamada{
            font-size: 20px;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }

    }

    @media screen and (max-device-width: 700px) {
                  #conteudo{
                    padding: 0 15px 0 15px;

                    h1{
                      font-size: 25px;
                    }
                    h4{
                      font-size: 18px;
                    }
                  }
              }

        #botao{
            padding-top: 20px;

            button {
              max-width: 90%;
              font-size: 20px;
              text-align: center;
              color: $verde;
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              // border-radius: 12px;
              padding: 15px 30px;
              position: relative;


              border: 2px $verde solid;
              text-transform: uppercase;
              outline: 0;
              overflow:hidden;
              background: none;
              z-index: 1;
              cursor: pointer;
              transition:         0.2s ease-in;
              -o-transition:      0.2s ease-in;
              -ms-transition:     0.2s ease-in;
              -moz-transition:    0.2s ease-in;
              -webkit-transition: 0.2s ease-in;
            }

            .fill:hover{
              color: white;
            }

            .fill:before {
              content: "";
              position: absolute;
              background: $verde;
              color: $verde;
              bottom: 0;
              left: 0;
              right: 0;
              top: 100%;
              z-index: -1;
              -webkit-transition: top 0.2s ease-in;
            }

            .fill:hover:before {
              top: 0;
            }

        }

        @media screen and (max-device-width: 700px) {
            #botao{
              display: none;
            }

        }
        .pessoa-container{
        }
        @media screen and (max-device-width: 700px) {
          .pessoa-container{
            text-align: center;
            #pessoa{
              padding-top: 15px;
              padding-bottom: 10px;
              max-width: 60%;
            }
          }

        }

        #botao-mobile{
          display: none;
        }

        @media screen and (max-device-width: 700px) {
          #botao-mobile{
            display: block;
            position: absolute;
            text-align: center;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding-bottom: 32px;

            button {
              max-width: 90%;
              text-align: center;

              font-size: 12px;
              text-align: center;
              color: white;
              font-family: 'Montserrat', sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              border-radius: 12px;
              padding: 15px 30px;
              position: relative;


              border: 2px #FF5F6D solid;
              background-color: #FF5F6D;
              text-transform: uppercase;
              outline: 0;
              overflow:hidden;
              z-index: 1;
              cursor: pointer;
            }
          }
        }

        .seta{
          @include float();
          position: absolute;
          text-align: center;
          left: 0;
          bottom: 0;
          img{
            width: 90px;
          }
        }

        @media screen and (max-device-width: 700px) {
          .seta{
            display: none;
          }
        }
}


#sec-2{
  overflow: hidden;
  @include degrade();
  height: 180vh;
  #scene{
    height: 100vh;

    #ovni{
      width: 100px;
      position: absolute;
    }

    #terra-container{
      bottom: -590px;
      padding-top: 350px;
      #terra{
        width: 80%;
      }
      @media screen and (max-device-width: 700px) {
        #terra{
          width: 180%;
        }
      }
    }

    #astronauta-container{
      width: 100%;
      #astronauta{
        padding-top: 100px;

      }
      @media screen and (max-device-width: 700px) {
        #astronauta{
          width: 60%;
        }
      }
    }

    // #iphone-container{
    //   #iphone{
    //     padding-top: 100px;
    //     width: 10%;
    //
    //   }
    //
    // }


  }

}

#sec-3{
  padding-bottom: 35px;

  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $roxo-escuro;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }

  @media screen and (max-device-width: 700px) {
    h1{
      text-align: left;
      padding: 30px;
    }
  }
}

#sec-4{
  background-color: darken($cinza-claro, 2%);



  position: relative;
  padding: 65px 32px 45px 32px;

  #app-container{
    position: absolute;
    top: -45px;
    left: 0;
    padding-left: 0;

    #app{
      width: 75%;
      float: left;
    }
    @media screen and (max-device-width: 700px) {
                #app{
                    display: none;
                }

            }
  }
 span{
   color: #333;
   margin-right: 10px
 }

  h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $cinza-escuro;
    text-align: center;
    padding: 32px 0 42px 0;
    margin: 0;
  }

  p{
    color: $cinza-escuro;
    font-family: 'Lato-Regular';
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
  }

  @media screen and (max-device-width: 700px) {
                p{
                    padding-bottom: 30px;
                }

            }
}

#sec-5{
  padding: 55px 32px 85px 32px;


  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    color: $cinza-escuro;
    padding: 32px 0 24px 0;
    margin: 0;
  }

  p{
    text-align: center;
    font-size: 18px;
    font-family: 'Lato-Regular';

  }

  #botao{
      padding-top: 20px;
      button {
        max-width: 90%;
        font-size: 20px;
        color: $roxo-escuro;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 12px;
        padding: 15px 30px;
        position: relative;


        border: 2px $roxo-escuro solid;
        text-transform: uppercase;
        outline: 0;
        overflow:hidden;
        background: none;
        z-index: 1;
        cursor: pointer;
        transition:         0.2s ease-in;
        -o-transition:      0.2s ease-in;
        -ms-transition:     0.2s ease-in;
        -moz-transition:    0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
      }

      @media screen and (max-device-width: 700px) {
                    button{
                      font-size: 11px;
                      padding: 12px;
                    }

                }


      .fill:hover{
        color: white;
      }

      .fill:before {
        content: "";
        position: absolute;
        background: $roxo-escuro;
        color: $roxo-claro;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.2s ease-in;
      }

      .fill:hover:before {
        top: 0;
      }




      @media screen and (max-device-width: 700px) {
                    a{
                      font-size: 13px;
                    }

                }
  }

}

#sec-6{
  background-color: $cinza-claro;
  padding-bottom: 90px;
  padding-top: 45px;

  h1{
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 70px;
    color: $cinza-escuro;
  }

  @media screen and (max-device-width: 700px) {
    h1{
      text-align: left;
    }
  }

  .logo-portfolio{
    text-align: center;
    width: 70%;
    margin: 0 20px 15px 20px;
  }

  p{
    font-size: 16px;
    padding: 0 20px 0 20px;
    text-align: left;
    font-family: 'Lato-Regular';


    a{
      text-decoration: underline;
    }
  }

  @media screen and (max-device-width: 700px) {
                p{
                    padding-bottom: 30px;
                }

            }
}

#sec-7{
    #map{
        width: 100%;
        height: 400px;
    }
}

#sec-8  {
  height: 500px;
  @include degrade();

  #logo{
    padding-top: 120px;
    img{
      width: 10%;
    }

    @media screen and (max-device-width: 700px) {
      img{
        width: 30%;
      }
    }

  }

  ul{
    text-align: center;
    padding-top: 12px;
    li{
      font-size: 18px;
      font-family: 'Lato-Regular';
      color: white;
      padding-right: 32px;
      display: inline-block;
      text-align: center;
      cursor: pointer;

      a{
        color: white;
        cursor: pointer;
      }
    }
  }

  #social{
    margin-top: 0;
    padding-top: 12px;
  }

  #modal{
    .modal-content{
      border-radius: 0;
      border: 0;
    }

    .modal-header{
      border-bottom: 0;

      .close{
        font-size: 40px;
        padding-right: 10px;
      }
    }

    .modal-body{
      padding: 10px 55px 30px 55px;
      p{
        font-size: 18px;
        font-family: 'Lato-Regular';
        color: #636363;


      }
    }
  }

}

// PAGINA DO CHAT
#chat{


  @media screen and (max-device-width: 700px) {
    #intro{
      padding: 30px;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-device-width: 701px) {
    #intro{
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      padding: 32px 64px 32px 64px;
    }
  }

  #intro{
    position: absolute;
    @include degrade();
    height: 100%;
    width: 100%;
    z-index: 10;

    #intro-avatar{
      align-self: center;

    }

    #intro-msg{
      align-self: center;
      font-size: 48px;
      color: white;
      font-family: 'Montserrat-Bold';

    }
  }

  @media screen and (max-device-width: 700px) {
    #intro{
      #intro-avatar{
        width: 60%;
      }
      #intro-msg{
        align-self: center;
        font-size: 25px;
        letter-spacing: -1px;
        padding-top: 42px;
      }
    }
  }

// cabeçalho do chat
  #header{
    position: fixed;
    width: 100%;
    background-color: $roxo;
    color: white;
    padding-top: 28px;
    padding-bottom: 28px;

    .container{
      display: -webkit-flex;
      display: flex;
      flex-direction: row;

      #voltar{
        align-self: center;
        color: white;
        display: inline-block;
        a{
          color: white;
          img{
            transform: rotate(90deg);
            padding: 4px;
            border-radius: 100px;
            width: 40px;
            transition: all 0.2s ease-out;
            &:hover{
              background-color: rgba(255,255,255,.3);
            }
          }
        }


        @media screen and (max-device-width: 700px) {
          .fa-3x{
            font-size: 2em;

          }
        }

      }

      p{
        align-self: center;
        display: inline-block;
        margin-bottom: 0;
        font-size: 32px;
        letter-spacing: -1px;
        font-family: 'Montserrat-Bold';
      }

      @media screen and (max-device-width: 700px) {
        p{
          font-size: 20px;
        }
      }
    }

    #avatar-eloisa{
      -webkit-box-shadow: 6px 6px 18px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 6px 18px -4px rgba(0,0,0,0.75);
      box-shadow: 6px 6px 18px -4px rgba(0,0,0,0.75);
      transition: all 0.2s ease-out;
      height: 150px;
      width: 150px;
      line-height: 150px;
      background-image: url(../img/avatar-mini.png);

      position: absolute;
      right: 300px;
      top: 60px;

      &:hover{
        -webkit-box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.75);

      }
    }

    @media screen and (max-device-width: 700px) {
      #avatar-eloisa{
        height: 80px;
        width: 80px;
        line-height: 80px;
        right: 30px;
        background-image: url(../img/avatar-mini8080.png);
      }
    }
  }

  @media screen and (max-device-width: 700px) {
    #header{
      padding: 20px;
    }
  }

  #conversa{
    padding: 200px 250px 0px 250px;
    overflow-y: auto;

    .mensagem-container{
      margin-bottom: 32px;

      #avatar-mensagem{
        float: left;

        // avatar mini 4040
        // background-image: url(../img/avatar-mini4040.png);

        #avatar-elo{
          border-radius: 100%;
          transition: background-color 0.5s ease-in-out;
          transition: 2.5s ease-out;

          &:hover{
            transition: 2.5s ease-out;
            -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
            -moz-animation: neon6 1.5s ease-in-out infinite alternate;
            animation: neon6 1.5s ease-in-out infinite alternate;
            // box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
          }

          img{
            width: 55px;
          }

        }
          @media screen and (max-device-width: 700px) {
            #avatar-elo{
              height: 40px;
              width: 40px;
            }
          }
      }
      #avatar-resposta{
        float: right;
      }

      .avatar{
        img{
          width: 24px;
        }
        vertical-align: super;
        display: inline-block;
      }


      #mensagem{
        margin-left: 8px;
        text-align: left;
        font-family: 'Lato-Regular';
        color: white;



        p{
          font-size: 22px;
        }
        #txt-header{
          font-size: 12px;
          color: #efc04d;
          // color: #8d6bbb;
          margin: 0;
        }
      }

      #resposta{
        margin-right: 10px;
        background-color: $roxo-claro;
        border-radius: 10px 0 10px 10px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        padding: 10px 15px;
        text-align: left;
        font-family: 'Lato-Regular';
        color: #666;
        p{
          font-size: 22px;
          color: white;
        }
        #txt-header{
          font-size: 12px;
          color: #efc04d;
          // color: #8d6bbb;
          margin: 0;
        }
      }

      @media screen and (max-device-width: 700px) {
        #resposta{
          // height: 18px;
          // line-height: 18px;
          p{
            font-size: 18px;
          }
        }

      }

      #avatar-resposta{
        height: 40px;
        span{
          font-size: 20px;
          padding: 9px 16px;
          border-radius: 8px;
          background-color: $roxo-claro;
          color: white;
          transition: background-color 0.5s ease;
          &:hover{
            background-color: $roxo-escuro;
          }
        }
      }

      @media screen and (max-device-width: 700px) {
        #avatar-resposta{
          height: 18px;
          span{
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 8px;
          }
        }
      }

      .texto{
        max-width: 75%;
        display: inline-block;
        margin-bottom: 0;
        font-size: 24px;
        text-align: left;
        padding: 1px 15px 0;

      }
    }
  }

  @media screen and (max-device-width: 700px) {
    #conversa{
      padding: 110px 22px 130px 22px;

      .mensagem-container{

        .avatar{
          padding: 0;
          img{
            width: 45px;
            border-radius: 100%;
            border: 2px solid white;


          }
          vertical-align: super;
          display: inline-block;
        }

        #mensagem{
          text-align: left;
          font-family: 'Lato-Regular';
          color: white;
          // height: 18px;
          // line-height: 18px;
          // padding-top: 4px;
          p{
            font-size: 18px;
            margin: 0;
          }
          #txt-header{
            font-size: 12px;
            color: #efc04d;
            // color: #8d6bbb;
            margin: 0;
          }
        }
      }


    }
  }

  #form-container{
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 25px;
    background-color: $cinza-claro;


    .input-texto-container{
      width: 80%;
      #input-texto{
        width: 100%;
        background-color: $cinza-claro;
        border: none;
        box-shadow: none;
        font-size: 24px;
        font-family: 'Lato-Regular';

      }
    }

    .input-botao-container{
      width: 15%;
      #botao-enviar{
        width: 100%;
        color: white;
        font-family: 'Lato-Regular';
        font-size: 24px;
        line-height: 24px;
        background-color: $roxo-escuro;
        border-radius: 8px;
        border: 0;
        padding: 20px;
        transition: 0.3s ease;

        &:hover{
          opacity: 0.8;

        }
      }
      @media screen and (max-device-width: 700px) {
        #botao-enviar{
          padding: 15px;
        }
      }
    }

  textarea{
    width: 93%;
    border: none;
    font-family: 'Lato-Regular';
    font-size: 18px;

  }


  }

  @media screen and (max-device-width: 700px) {
    #form-container{
      padding: 15px;

      .input-texto-container{
        width: 100%;
        #input-texto{
          font-size: 18px;
        }
      }

      .input-botao-container{
        #botao-enviar{
          width: initial;
          font-size: 18px;
          line-height: 18px;
        }
      }

      textarea{
        height: 50px;
      }
    }
  }

  #form-container-tipo{
    text-align: center;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 28px 25px;
    background-color: $cinza-claro;
    p{
      font-size: 24px;
      font-family: 'Lato-Regular';
    }

    .input-botao-container{
      width: 15%;
      margin: 5px;
      #botao-enviar{
        width: 100%;
        color: white;
        font-family: 'Lato-Regular';
        font-size: 22px;
        line-height: 22px;
        background-color: $roxo-escuro;
        border-radius: 15px;
        border: 0;
        padding: 25px;
        transition: 0.3s ease;

        &:hover{
          background-color: $roxo-claro;

        }
      }
    }
  }

  @media screen and (max-device-width: 700px) {
    #form-container-tipo{
      height: 100%;
      padding-top: 24px;
      p{
        font-size: 20px;
        padding-bottom: 12px;
      }
      .input-botao-container{
        width: initial;
        #botao-enviar{
          padding: 20px 15px;
          font-size: 18px;
          line-height: 18px;
        }
      }

    }
  }

  .input-botao-container-voltar{
    margin: 5px;
    padding: 25px;
    #botao-enviar{
      width: 100%;
      color: white;
      font-family: 'Lato-Regular';
      font-size: 22px;
      line-height: 22px;
      background-color: $roxo-escuro;
      border-radius: 15px;
      border: 0;
      padding: 25px;
      transition: 0.3s ease;

      &:hover{
        background-color: $roxo-claro;

      }
    }
  }

  #form-cidade{
    p{
      font-size: 24px;
      font-family: 'Lato-Regular';
      }
    input{
      border: none;
      border-radius: 8px;
      background-color: white;
      height: 45px;
      margin-right: 12px;
      margin-bottom: 12px;


    }
    button{
      vertical-align: -webkit-baseline-middle;
      background-color: $roxo-escuro;
      border-radius: 8px;
      color: white;
      height: 45px;
      font-family: 'Lato-Regular';
      font-size: 20px;
      line-height: 22px;
      border: 0;
      padding: 0 25px;
      transition: 0.3s ease;

      &:hover{
        background-color: $roxo-claro;

      }
    }
  }

  @media screen and (max-device-width: 700px) {
    #form-cidade{
      p{
        font-size: 20px;
        padding-bottom: 12px;
      }
      select{
        margin-bottom: 8px;
        margin-right: 0;
      }

      .input-container{
        padding: 0;
        button{
          width: 100%;
        }
      }


    }
  }





}
